[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=wanjeri
Group=wanjeri
WorkingDirectory=/home/wanjeri/app/src/ 
Environment="PATH=/home/wanjeri/app/venv/bin"
EnvironmentFile=/home/wanjeri .env
ExecStart=/home/wanjeri/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
